<link rel="stylesheet" href="/css/tableForm.css">
<div th:replace="fragment/header::header"></div>

    <div class="container">
    <table class="table">
          <tr>
            <th scope="col">id_vehicule</th>
            <th scope="col">Marque</th>
            <th scope="col">Modele</th>
            <th scope="col">Couleur</th>
            <th scope="col">Immatriculation</th>
          </tr>
          <tr th:each="vehicule:${vehicules}">
            <th scope="row" th:text="${vehicule.id_vehicule}"></th>
            <td th:text="${vehicule.marque}"></td>
            <td th:text="${vehicule.modele}"></td>
            <td th:text="${vehicule.couleur}"></td>
            <td th:text="${vehicule.immatriculation}"></td>
            <td >
            <a class="btn" th:href="#">Modifier</a>
            </td>
            <td >
            <a class="btn" th:href="#">Supprimer</a>
            </td>
          </tr>
      </table>
    </div>
    
     <div class="container">
        <form class="form" method="post" th:action="@{/vehicule}" th:object="${vehicule}">
            <div class="mb-3">
              <input type="hidden" class="form-control" name="id_vehicule">
              <label>Marque</label>
              <input type="text" class="form-control" name="marque">
              <label>Modele</label>
              <input type="text" class="form-control" name="model">
              <label>Couleur</label>
              <input type="text" class="form-control" name="couleur">
              <label>Immatriculation</label>
              <input type="text" class="form-control" name="immatriculation">
            </div>
        <button type="submit" class="btnAjoutConducteur">Ajouter Un Véhicule</button>
      </form>
    </div>
